# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

TechShoes/TechShoes/Debug/*
TechShoes/.vs/TechShoes/v14/*
TechShoes/TechShoes.opensdf
TechShoes/TechShoes.sdf
TechShoes/.vs/TechShoes/v14/.suo
TechShoes/TechShoes.sdf
TechShoes/.vs/TechShoes/v14/.suo
TechShoes/TechShoes.sdf
TestTechShoes/.vs/TestTechShoes/v14/.suo
TestTechShoes/Debug/TestTechShoes.ilk
TestTechShoes/TestTechShoes.sdf
*.obj
TestTechShoes/TestTechShoes/Debug/TestTechShoes.log
*.idb
TestTechShoes/TestTechShoes/Debug/vc140.pdb
*.log
TestTechShoes/.vs/TestTechShoes/v14/.suo
*.exe
TestTechShoes/Debug/TestTechShoes.ilk
*.pdb
TestTechShoes/TestTechShoes/Debug/LstLineaFacturas.obj
*.log
*.idb
TestTechShoes/TestTechShoes/Debug/vc140.pdb
*.lastbuildstate
*.obj